/* Your Styling */

header {
	background: #ca4814;
	font-family: 'Abel', sans-serif;
	font-size: 2.25em;
	text-transform: uppercase;
}

/* Article Headings */
article section {
	position: relative;
}


article h3 {
	background: #ca4814;
	font-family: 'Abel', sans-serif;
	font-size: 1em;
	padding: 4px;
	position: absolute;
	left: -20px;
	top: 0;
	text-transform: uppercase;
	
}

p {
	background: #F8C7B3;
}

/* App */
article section:nth-child(1) {
	background: ;
	font-family: 'Abel', sans-serif;
}

/* Entree */
article section:nth-child(2) {
	background: ;
	font-family: 'Abel', sans-serif;
}

/* Dessert */
article section:nth-child(3) {
	background: ;
	font-family: 'Abel', sans-serif;
}

/* Drinks */
article section:nth-child(4) {
	background: ;
	font-family: 'Abel', sans-serif;
}


/* Contact Information */
footer section:nth-child(1) {
	background: #9E3106;
	font-family: 'Abel', sans-serif;
}

/* Allergy Information */
footer section:nth-child(2) {
	background: #9E3106;
	font-family: 'Abel', sans-serif;CA4814
}